*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./img/665921978b9b369fc28574bce93caadc.jpg');
    height: 100%;
    

}

img{
    width: 200px;
    margin-top: 20px;
}

input{
    padding: 8px 40px;
    border-radius: 6px;
    outline: none;
   
}

.paises{
    
    padding: 40px;
    text-align: center;
    margin-top: 20px;
    background-color: #ddf7e8;
    border-radius: 6px;
    color: #181b2c;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    width: 1050px;
    justify-content: center;
    font-family: sans-serif;
}

.pais{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
    
}

span{
    display: block;
}

label{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 30px;
}